# MusicBrainz artist lookup

Get artist information, including place name, for each artist that has a music brainz id in my data set generated by the [lastfm_downloader](lastfm_downloader.ipynb).

Documentation:
 - Web service: https://wiki.musicbrainz.org/Development/XML_Web_Service/Version_2/Search
 - Artist entities: https://musicbrainz.org/doc/Artist
 - Area entities: https://musicbrainz.org/doc/Area

Sample queries:
 - Artist: https://musicbrainz.org/ws/2/artist/d4659efb-b8eb-4f03-95e9-f69ce35967a9
 - Area: https://musicbrainz.org/ws/2/area/0a70f24b-1263-4341-8d70-17b8df84154f?inc=area-rels

In [1]:
import pandas as pd, requests, time, json

pause_standard = 0.1
pause_exceeded_rate = 19

In [2]:
# configure URLs and user-agent header
artist_name_url = u'https://musicbrainz.org/ws/2/artist/?query=artist:{}&fmt=json'
artist_id_url = u'https://musicbrainz.org/ws/2/artist/{}?fmt=json'
area_id_url = u'https://musicbrainz.org/ws/2/area/{}?inc=area-rels&fmt=json'
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}

## Define functions

In [3]:
def make_request(url, headers=headers):
    
    global pause_standard
    global pause_exceeded_rate
    
    time.sleep(pause_standard)
    #print url
    response = requests.get(url, headers=headers)
    
    if response.status_code == 200: #if status OK
        return {'status_code':response.status_code, 'json':response.json()}
    
    elif response.status_code == 503: #if status error (server busy or rate limit exceeded)
        if 'exceeding the allowable rate limit' in response.json()['error']:
            #print '\n{}\n{}\npausing {} secs and re-try\n'.format(response.status_code, response.json(), pause_exceeded_rate)
            pause_standard = pause_standard + 0.1
            print 'pause_standard={}'.format(pause_standard),
            time.sleep(pause_exceeded_rate)
        return make_request(url)
    
    else: #if other status code, print info and return None for caller to handle
        print 'make_request error code {} {}'.format(response.status_code, response.json())
        return None

In [4]:
def geocode(address):
    time.sleep(pause) #pause for some duration before each request, to not hammer their server
    url = u'http://maps.googleapis.com/maps/api/geocode/json?address={}&sensor=false' #api url with placeholders
    request = url.format(address) #fill in the placeholder with a variable
    response = requests.get(request) #send the request to the server and get the response
    data = json.loads(response.text) #convert the response json string into a dict
    
    if len(data['results']) > 0: #if google was able to geolocate our address, extract lat-long from result
        latitude = data['results'][0]['geometry']['location']['lat']
        longitude = data['results'][0]['geometry']['location']['lng']
        return '{},{}'.format(latitude, longitude)

In [5]:
def get_artist_id_by_name(name):
    try:
        response = make_request(artist_name_url.format(name))
        if response is not None:
            result = response['json']
            artist_id = result['artists'][0]['id']
            return artist_id
    except:
        print 'get_artist_id_by_name error: {}'.format(response)

In [6]:
def get_artist_by_id(artist_id):
    try:
        response = make_request(artist_id_url.format(artist_id))
        if response is not None:
            result = response['json']
            data = {'id':artist_id,
                    'name':result['name'],            
                    'type':result['type'],
                    'gender':result['gender'],
                    'country':result['country'],
                    'begin_date':None,
                    'end_date':None,
                    'area_id':None,
                    'area_name':None,
                    'area_name_full':None,
                    'area_latlng':None,
                    'begin_area_id':None,
                    'begin_area_name':None,
                    'begin_area_name_full':None,
                    'begin_area_latlng':None,
                    'place':None,
                    'place_id':None,
                    'place_full':None,
                    'place_latlng':None}

            if result['life-span'] is not None and 'begin' in result['life-span'] and 'end' in result['life-span']:
                data['begin_date'] = result['life-span']['begin']
                data['end_date'] = result['life-span']['end']
            if result['area'] is not None and 'id' in result['area'] and 'name' in result['area']:
                data['area_id'] = result['area']['id']
                data['area_name'] = result['area']['name']
            if result['begin_area'] is not None and 'id' in result['begin_area'] and 'name' in result['begin_area']:
                data['begin_area_id'] = result['begin_area']['id']
                data['begin_area_name'] = result['begin_area']['name']
            
            # populate place with begin_area_name if it's not null, else area_name if it's not null, else None
            if data['begin_area_name'] is not None:
                data['place'] = data['begin_area_name']
                data['place_id'] = data['begin_area_id']
            elif data['area_name'] is not None:
                data['place'] = data['area_name']
                data['place_id'] = data['area_id']
            
            return data
    
    except:
        print 'get_artist_by_id error: {}'.format(response)

In [7]:
def get_area(area_id, area_str=''):
    try: 
        response = make_request(area_id_url.format(area_id))
        if response is not None:
            result = response['json']
            
            if area_str == '':
                area_str = result['name']
            
            if 'relations' in result:
                for relation in result['relations']:
                    if relation['direction']=='backward' and relation['type']=='part of':
                        area_id = relation['area']['id']
                        area_str = u'{}, {}'.format(area_str, relation['area']['name'])
                        return area_id, area_str
            else:
                print 'get_area no relations error: {}'.format(result)
            return None, area_str
    except:
        print 'get_area error: {}'.format(response)

In [8]:
def get_place_full_name_by_id(area_id):
    area_name=''
    while area_id is not None:
        area_id, area_name = get_area(area_id, area_name)
    return area_name

In [29]:
def make_artists_df(artist_ids, row_labels=None, df=None, status_interval=10):
    
    # create a list of row labels if caller didn't pass one in
    if row_labels is None:
        row_labels = range(len(artist_ids))
    
    # create a new dataframe if caller didn't pass an existing one in
    cols = ['id', 'name', 'type', 'gender', 'country', 'begin_date', 'end_date', 'begin_area_name', 
            'begin_area_name_full', 'begin_area_latlng', 'area_name', 'area_name_full', 'area_latlng',
            'place_id', 'place', 'place_full', 'place_latlng']
    if not isinstance(df, pd.DataFrame):
        df = pd.DataFrame(columns=cols)
    
    start_time = time.time()
    for artist_id, n in zip(artist_ids, row_labels):

        if n % status_interval == 0 :
            print n,
            df.to_csv('data/mb.csv', index=False, encoding='utf-8')

        try:
            # get the artist info object
            artist = get_artist_by_id(artist_id)

            # create (or update) a df row containing the data from this artist object
            df.loc[n] = [ artist[col] for col in cols ]

            # update the row's place_full cell with the full place name
            df.loc[n, 'place_full'] = get_place_full_name_by_id(artist['place_id'])

        except Exception as e:
            print '#{} failed'.format(n)
            print e
            pass

    df.to_csv('data/mb.csv', index=False, encoding='utf-8')
    finish_time = time.time()
    print '\nprocessed {:,} artists in {:,} seconds'.format(len(artist_ids), round(finish_time-start_time, 2))
    
    return df

## Test it with a demo

In [10]:
name = 'david bowie'
artist_id = get_artist_id_by_name(name)
artist = get_artist_by_id(artist_id)
artist['place_full'] = get_place_full_name_by_id(artist['place_id'])
artist['place_full']

u'Brixton, Lambeth, London, England, United Kingdom'

## Now run it

In [11]:
scrobbles = pd.read_csv('data/lastfm_scrobbles.csv', encoding='utf-8')
artist_ids = scrobbles['artist_mbid'].dropna().unique()
len(artist_ids)

12501

In [12]:
df = make_artists_df(artist_ids)

0 10 pause_standard=0.2 20 pause_standard=0.3 30 40 50 60 70 80 pause_standard=0.4 90 100 110 120 130 140 150 160 170 180 190 200 210 220 230 240 250 260 270 280 290 300 310 320 330 340 350 360 370 380 390 400 410 420 430 440 450 460 470 480 490 500 510 520 530 540 550 560 570 580 590 600 pause_standard=0.5 610 620 630 640 650 660 670 680 690 700 710 720 730 740 750 760 770 780 790 pause_standard=0.6 800 810 820 830 840 850 860 870 880 890 900 910 920 930 940 950 960 970 980 990 1000 1010 1020 1030 1040 1050 1060 1070 1080 1090 1100 1110 1120 1130 1140 1150 1160 1170 1180 1190 1200 1210 1220 1230 1240 1250 1260 1270 1280 1290 1300 1310 1320 1330 make_request error code 404 {u'error': u'Not Found'}
#1335 failed
1340 1350 1360 1370 1380 1390 1400 1410 1420 1430 1440 1450 1460 1470 1480 1490 1500 1510 1520 1530 1540 1550 1560 1570 1580 1590 1600 1610 1620 1630 1640 1650 1660 1670 1680 1690 1700 1710 1720 1730 1740 1750 1760 1770 1780 1790 1800 1810 1820 1830 1840 1850 1860 1870 1880 1890 1900 1910 1920 1930 1940 1950 1960 1970 1980 1990 2000 2010 2020 2030 2040 2050 2060 2070 2080 2090 2100 2110 2120 2130 2140 2150 2160 2170 2180 2190 2200 2210 2220 2230 2240 2250 2260 2270 2280 2290 2300 2310 2320 2330 2340 2350 2360 2370 2380 2390 2400 2410 2420 2430 2440 2450 2460 2470 2480 2490 2500 2510 2520 2530 2540 2550 2560 2570 2580 2590 2600 2610 2620 2630 2640 2650 2660 2670 2680 2690 2700 2710 2720 2730 2740 2750 2760 2770 2780 2790 2800 2810 2820 2830 2840 2850 2860 2870 2880 2890 2900 2910 2920 2930 2940 2950 2960 2970 2980 2990 3000 3010 3020 3030 3040 3050 3060 3070 3080 3090 3100 3110 3120 3130 3140 3150 3160 3170 3180 3190 3200 3210 3220 3230 3240 3250 3260 3270 3280 3290 3300 3310 3320 3330 3340 3350 3360 3370 3380 3390 3400 3410 3420 3430 3440 3450 3460 3470 3480 3490 3500 3510 3520 3530 3540 3550 3560 3570 3580 3590 3600 3610 3620 3630 3640 3650 3660 3670 3680 3690 3700 3710 3720 3730 3740 3750 3760 3770 3780 3790 3800 3810 3820 3830 3840 3850 3860 3870 3880 3890 3900 3910 3920 3930 3940 3950 3960 3970 3980 3990 4000 4010 4020 4030 4040 4050 4060 4070 4080 4090 4100 4110 4120 4130 4140 4150 4160 4170 4180 4190 4200 4210 4220 4230 4240 4250 4260 4270 4280 4290 4300 4310 4320 4330 4340 4350 4360 4370 4380 4390 4400 4410 4420 4430 4440 4450 4460 4470 4480 4490 4500 4510 4520 4530 4540 4550 4560 4570 4580 4590 4600 4610 4620 4630 4640 4650 4660 4670 4680 4690 4700 4710 4720 4730 4740 4750 4760 4770 4780 4790 4800 4810 make_request error code 404 {u'error': u'Not Found'}
#4816 failed
4820 4830 4840 4850 4860 4870 4880 4890 4900 4910 4920 4930 4940 4950 4960 4970 4980 4990 5000 5010 5020 5030 5040 5050 5060 5070 5080 5090 5100 5110 5120 5130 5140 5150 5160 5170 5180 5190 5200 5210 5220 5230 5240 5250 5260 5270 5280 5290 5300 5310 5320 5330 5340 5350 5360 5370 5380 5390 5400 5410 5420 5430 5440 5450 5460 5470 5480 5490 5500 5510 5520 5530 5540 5550 5560 5570 5580 5590 5600 5610 5620 5630 5640 5650 5660 5670 5680 5690 5700 5710 5720 5730 5740 5750 5760 5770 5780 5790 5800 5810 5820 5830 5840 5850 5860 5870 5880 5890 5900 5910 5920 5930 5940 5950 5960 5970 5980 5990 6000 6010 6020 6030 6040 6050 6060 6070 6080 6090 6100 6110 6120 6130 6140 6150 6160 6170 6180 6190 6200 6210 6220 6230 6240 6250 6260 6270 6280 6290 6300 6310 6320 6330 6340 6350 6360 6370 6380 6390 6400 6410 6420 6430 6440 6450 6460 6470 6480 6490 6500 6510 6520 6530 6540 6550 6560 6570 6580 6590 6600 6610 6620 6630 6640 6650 6660 6670 6680 6690 6700 6710 6720 6730 6740 6750 6760 6770 6780 6790 6800 6810 6820 6830 6840 6850 6860 6870 6880 6890 6900 6910 6920 6930 6940 6950 6960 6970 6980 6990 7000 7010 7020 7030 7040 7050 7060 7070 7080 7090 7100 7110 7120 7130 7140 7150 7160 7170 7180 7190 7200 7210 7220 7230 7240 7250 7260 7270 7280 7290 7300 7310 7320 7330 7340 7350 7360 7370 7380 7390 7400 7410 7420 7430 7440 7450 7460 7470 7480 7490 7500 7510 7520 7530 7540 7550 7560 7570 7580 7590 7600 7610 7620 7630 7640 7650 7660 7670 7680 7690 7700 7710 7720 7730 7740 7750 7760 7770 7780 7790 7800 7810 7820 7830 7840 7850 7860 7870 7880 7890 7900 7910 7920 7930 7940 7950 7960 7970 7980 7990 8000 8010 8020 8030 8040 8050 8060 8070 8080 8090 8100 8110 8120 8130 8140 #8147 failed
#8148 failed
#8149 failed
8150 #8150 failed
8160 8170 8180 8190 8200 8210 8220 8230 8240 8250 8260 8270 8280 8290 8300 8310 8320 8330 8340 8350 8360 8370 8380 8390 8400 8410 8420 8430 8440 8450 8460 8470 8480 8490 8500 8510 8520 8530 8540 8550 8560 8570 #8571 failed
#8572 failed
8580 8590 8600 8610 8620 8630 8640 8650 8660 8670 8680 8690 8700 8710 8720 8730 8740 8750 8760 8770 8780 8790 8800 8810 8820 8830 8840 8850 8860 8870 8880 8890 8900 8910 8920 8930 8940 8950 8960 8970 8980 8990 9000 9010 9020 9030 9040 9050 9060 9070 9080 9090 9100 9110 9120 9130 9140 9150 9160 9170 9180 9190 9200 9210 9220 9230 pause_standard=0.7 9240 9250 9260 9270 9280 9290 9300 9310 9320 9330 9340 9350 9360 9370 9380 9390 9400 9410 9420 9430 9440 9450 9460 9470 9480 9490 9500 9510 9520 9530 9540 9550 9560 9570 9580 9590 9600 9610 9620 9630 9640 9650 9660 9670 9680 9690 9700 9710 9720 9730 9740 9750 9760 9770 9780 9790 9800 9810 9820 9830 9840 9850 9860 9870 9880 9890 9900 9910 9920 9930 9940 9950 9960 9970 9980 9990 10000 pause_standard=0.8 10010 10020 10030 10040 10050 10060 10070 10080 10090 10100 10110 10120 10130 10140 10150 10160 10170 10180 10190 10200 10210 10220 10230 10240 10250 10260 10270 10280 10290 10300 10310 10320 10330 10340 10350 10360 10370 10380 10390 10400 10410 10420 10430 10440 10450 10460 10470 10480 10490 10500 10510 10520 10530 10540 10550 10560 10570 10580 10590 10600 10610 10620 10630 10640 10650 10660 10670 10680 10690 10700 10710 10720 10730 10740 10750 10760 10770 10780 10790 10800 10810 10820 10830 10840 10850 10860 10870 #10871 failed
#10873 failed
#10874 failed
10880 10890 #10899 failed
10900 #10900 failed
#10905 failed
10910 10920 #10928 failed
#10929 failed
10930 #10935 failed
10940 10950 #10951 failed
#10953 failed
#10954 failed
#10959 failed
10960 #10960 failed
#10961 failed
#10962 failed
#10965 failed
#10966 failed
#10968 failed
10970 #10972 failed
10980 10990 11000 11010 #11018 failed
#11019 failed
11020 #11020 failed
#11024 failed
#11027 failed
#11028 failed
11030 11040 11050 11060 11070 11080 #11080 failed
11090 #11092 failed
#11093 failed
#11094 failed
#11096 failed
11100 11110 #11113 failed
#11117 failed
11120 #11120 failed
#11123 failed
#11129 failed
11130 #11132 failed
11140 #11146 failed
#11147 failed
11150 #11150 failed
#11158 failed
11160 #11166 failed
#11167 failed
11170 #11172 failed
#11173 failed
11180 #11180 failed
#11181 failed
#11183 failed
#11185 failed
#11187 failed
#11188 failed
#11189 failed
11190 #11191 failed
#11194 failed
#11197 failed
11200 #11205 failed
11210 #11211 failed
#11212 failed
11220 #11226 failed
#11227 failed
11230 #11230 failed
#11231 failed
#11232 failed
#11238 failed
11240 #11240 failed
#11241 failed
#11242 failed
#11244 failed
#11245 failed
#11246 failed
11250 #11250 failed
11260 #11260 failed
11270 11280 11290 11300 11310 11320 #11322 failed
#11327 failed
11330 #11330 failed
#11332 failed
#11334 failed
#11335 failed
11340 #11341 failed
#11346 failed
#11348 failed
11350 #11352 failed
#11353 failed
11360 #11363 failed
11370 #11371 failed
#11372 failed
11380 11390 #11398 failed
#11399 failed
11400 #11402 failed
#11403 failed
#11404 failed
#11405 failed
#11406 failed
#11407 failed
#11409 failed
11410 #11412 failed
11420 11430 #11432 failed
#11436 failed
#11439 failed
11440 #11441 failed
#11444 failed
#11446 failed
#11447 failed
#11448 failed
#11449 failed
11450 #11450 failed
#11452 failed
#11453 failed
#11458 failed
11460 11470 11480 11490 11500 11510 11520 11530 11540 11550 11560 11570 11580 11590 11600 11610 11620 11630 11640 11650 11660 11670 11680 11690 11700 11710 11720 11730 11740 11750 11760 11770 11780 11790 11800 11810 11820 11830 11840 11850 11860 make_request error code 404 {u'error': u'Not Found'}
#11861 failed
11870 11880 11890 11900 11910 11920 11930 11940 11950 11960 11970 11980 11990 12000 12010 12020 12030 12040 12050 12060 12070 12080 12090 12100 12110 12120 12130 12140 12150 12160 12170 12180 12190 12200 12210 12220 12230 12240 12250 12260 12270 12280 12290 12300 12310 12320 12330 12340 12350 12360 12370 12380 12390 12400 12410 12420 12430 make_request error code 404 {u'error': u'Not Found'}
#12433 failed
12440 12450 12460 12470 12480 12490 12500
processed 12,501 artists in 60,014.35 seconds

In [13]:
df.head()

,id,name,type,gender,country,begin_date,end_date,begin_area_name,begin_area_name_full,begin_area_latlng,area_name,area_name_full,area_latlng,place_id,place,place_full,place_latlng
0,4d550bdc-7c0b-4a50-bd36-18584ad5fb70,Slim Twig,Person,Male,CA,1988,None,Toronto,None,None,Canada,None,None,74b24e62-d2fe-42d2-9d96-31f2da756c77,Toronto,"Toronto, Ontario, Canada",None
1,469d6414-1f06-43de-80d5-17762d4a356a,Weyes Blood,Person,Female,US,None,None,Santa Monica,None,None,United States,None,None,dbacf2e3-7e3e-4cee-8804-999b109285fa,Santa Monica,"Santa Monica, Los Angeles County, California, ...",None
2,3754dc74-381e-4237-bd44-65f5600a4d88,Wooden Shjips,Group,None,US,2003,None,San Francisco,None,None,United States,None,None,83f22bb6-4631-443c-bace-9fae8540362a,San Francisco,"San Francisco, California, United States",None
3,8546949d-f46c-45ab-8391-85b26dda6b65,Tim Buckley,Person,Male,US,1947-02-14,1975-06-29,"Washington, D.C.",None,None,United States,None,None,af59135f-38b5-4ea4-b4e2-dd28c5f0bad7,"Washington, D.C.","Washington, D.C., United States",None
4,65aac2dc-216c-4b1a-8501-45567c901c0e,Wipers,Group,None,US,1977,2001,Portland,None,None,United States,None,None,2b748d6e-bc1c-4434-9f7b-ecd6332bc557,Portland,"Portland, Multnomah County, Oregon, United States",None

## Re-try any failed rows one more time

In [27]:
# first get all the rows missing place_full (ie, row was created but couldn't get full place name)
rows_missing_place_full = list(df[pd.isnull(df['place_full'])].index)

# then get all the row labels missing in the df (due to errors that prevented row creation)
missing_row_labels = [ label for label in range(len(artist_ids)) if label not in df.index ]

# combine the two lists then get the artist mbid for each
row_labels_to_retry = sorted(rows_missing_place_full + missing_row_labels)
artist_ids_to_retry = [ artist_ids[label] for label in row_labels_to_retry ]

print '{} artists to retry'.format(len(artist_ids_to_retry))

119 artists to retry

In [30]:
df = make_artists_df(artist_ids_to_retry, row_labels_to_retry, df, status_interval=1)

1335 make_request error code 404 {u'error': u'Not Found'}
#1335 failed
'NoneType' object has no attribute '__getitem__'
4816 make_request error code 404 {u'error': u'Not Found'}
#4816 failed
'NoneType' object has no attribute '__getitem__'
8147 8148 8149 8150 8571 8572 10871 10873 10874 10899 10900 10905 10928 10929 10935 10951 10953 10954 10959 10960 10961 10962 10965 10966 10968 10972 11018 11019 11020 11024 11027 11028 11080 11092 11093 11094 11096 11113 11117 11120 11123 11129 11132 11146 11147 11150 11158 11166 11167 11172 11173 11180 11181 11183 11185 11187 11188 11189 11191 11194 11197 11205 11211 11212 11226 11227 11230 11231 11232 11238 11240 11241 11242 11244 11245 11246 11250 11260 11322 11327 11330 11332 11334 11335 11341 11346 11348 11352 11353 11363 11371 11372 11398 11399 11402 11403 11404 11405 11406 11407 11409 11412 11432 11436 11439 11441 11444 11446 11447 11448 11449 11450 11452 11453 11458 11861 make_request error code 404 {u'error': u'Not Found'}
#11861 failed
'NoneType' object has no attribute '__getitem__'
12433 make_request error code 404 {u'error': u'Not Found'}
#12433 failed
'NoneType' object has no attribute '__getitem__'

processed 119 artists in 845.13 seconds

In [31]:
df.head()

,id,name,type,gender,country,begin_date,end_date,begin_area_name,begin_area_name_full,begin_area_latlng,area_name,area_name_full,area_latlng,place_id,place,place_full,place_latlng
0,4d550bdc-7c0b-4a50-bd36-18584ad5fb70,Slim Twig,Person,Male,CA,1988,None,Toronto,None,None,Canada,None,None,74b24e62-d2fe-42d2-9d96-31f2da756c77,Toronto,"Toronto, Ontario, Canada",None
1,469d6414-1f06-43de-80d5-17762d4a356a,Weyes Blood,Person,Female,US,None,None,Santa Monica,None,None,United States,None,None,dbacf2e3-7e3e-4cee-8804-999b109285fa,Santa Monica,"Santa Monica, Los Angeles County, California, ...",None
2,3754dc74-381e-4237-bd44-65f5600a4d88,Wooden Shjips,Group,None,US,2003,None,San Francisco,None,None,United States,None,None,83f22bb6-4631-443c-bace-9fae8540362a,San Francisco,"San Francisco, California, United States",None
3,8546949d-f46c-45ab-8391-85b26dda6b65,Tim Buckley,Person,Male,US,1947-02-14,1975-06-29,"Washington, D.C.",None,None,United States,None,None,af59135f-38b5-4ea4-b4e2-dd28c5f0bad7,"Washington, D.C.","Washington, D.C., United States",None
4,65aac2dc-216c-4b1a-8501-45567c901c0e,Wipers,Group,None,US,1977,2001,Portland,None,None,United States,None,None,2b748d6e-bc1c-4434-9f7b-ecd6332bc557,Portland,"Portland, Multnomah County, Oregon, United States",None

In [32]:
# OK, one final check - see how many artist ids did not make it into the final dataframe
# first get all the rows missing place_full (ie, row was created but couldn't get full place name)
rows_missing_place_full = list(df[pd.isnull(df['place_full'])].index)

# then get all the row labels missing in the df (due to errors that prevented row creation)
missing_row_labels = [ label for label in range(len(artist_ids)) if label not in df.index ]

print len(rows_missing_place_full)
print len(missing_row_labels)

0
4